@model List<PentaFinances.Dtos.IngresosIndEspDto>


<script>
     $(document).ready(function() {

     });//END DOCUMENT
 </script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3"><label style="font-weight:bold; font-size:16px">Mes</label><br />
        @Html.DropDownList("MesDropDownList", (SelectList)@ViewBag.Meses, new { @class = "form-control", id="mesind" })</div>
    <div class="col-md-1"></div>
    <div class="col-md-3"><label style="font-weight:bold; font-size:16px">A&ntilde;o</label><br />
       @*<input id="year", class="yearselect form-control"/>*@
        @Html.DropDownList("AnioDropDownList", (SelectList)@ViewBag.Anios, new { @class = "form-control", id="yearind" })
    </div>
</div>

<div class="contenedor">
    <table style="margin-left: 10px;">
        @if (Model.Count > 0)
        {
            <tr>
                <td style="vertical-align: top;">
                    <table>
                        <tr>
                            <td>
                                <div class="incelda">
                                    <label style="font-weight: bold;">
                                        Metrica/Cliente
                                    </label>
                                </div>
                                <div class="descrip">
                                    <label>Asignación</label>
                                </div>
                                <div class="descrip">
                                    <label>% Asignación</label>
                                </div>
                                <div class="descrip">
                                    <label>% Honorarios</label>
                                </div>
                                <div class="descrip">
                                    <label>% Recuperación</label>
                                </div>
                                <div class="descrip">
                                    <label>% Conversión</label>
                                </div>
                                <div class="descrip">
                                    <label>Pedidos</label>
                                </div>
                                <div class="descrip">
                                    <label>Ventas con Upsell</label>
                                </div>
                                <div class="descrip">
                                    <label>Upsell Promedio</label>
                                </div>
                                <div class="descrip">
                                    <label>Ventas</label>
                                </div>
                                <div class="descrip">
                                    <label>% Validación</label>
                                </div>
                                <div class="descrip">
                                    <label>% Activación</label>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>

                 @for (int i = 0;i < Model.Count; i++)
             {
                            
                    <td style="vertical-align: top;">
                        <table>
                            <tr>
                                <td style="background: #D8D8D8; text-align: center; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <label style="font-size: 10px; font-weight: bold;">
                                 @Html.DisplayFor(m => Model[i].Campana.nombreCampana)
                                 @Html.HiddenFor(m => Model[i].Campana.nombreCampana)
                                 @Html.HiddenFor(m => Model[i].Campana.idCampana)
                             </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Asignacion.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Asignacion.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Asignacion.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcAsignacion.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcAsignacion.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcAsignacion.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcHonorarios.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcHonorarios.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcHonorarios.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcRecuperacion.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcRecuperacion.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcRecuperacion.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcConversion.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcConversion.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcConversion.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Pedidos.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Pedidos.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.Pedidos.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.VentasUpsell.Bi,"{0:N4}",
                                                        new {@class = "celda form-control", ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.VentasUpsell.Op,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br/>
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.VentasUpsell.Ci,"{0:N4}",
                                                        new {@class = "celda form-control"})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                <div class="inceldaindicadores">
                                    <table>
                                        <tr class="innerCelda">
                                            <td>BI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.UpsellPromedio.Bi,"{0:N4}",
                                                    new {@class = "celda form-control", ReadOnly="true"})
                                            </td>
                                            <td class="innerCelda">OP<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.UpsellPromedio.Op,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                            <td class="innerCelda" style="border-right:groove">CI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.UpsellPromedio.Ci,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                <div class="inceldaindicadores">
                                    <table>
                                        <tr class="innerCelda">
                                            <td>BI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.Ventas.Bi,"{0:N4}",
                                                    new {@class = "celda form-control", ReadOnly="true"})
                                            </td>
                                            <td class="innerCelda">OP<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.Ventas.Op,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                            <td class="innerCelda" style="border-right:groove">CI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.Ventas.Ci,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                <div class="inceldaindicadores">
                                    <table>
                                        <tr class="innerCelda">
                                            <td>BI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.PorcValidacion.Bi,"{0:N4}",
                                                    new {@class = "celda form-control", ReadOnly="true"})
                                            </td>
                                            <td class="innerCelda">OP<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.PorcValidacion.Op,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                            <td class="innerCelda" style="border-right:groove">CI<br/>
                                                @Html.TextBoxFor(m => Model[i].Indicadores.PorcValidacion.Ci,"{0:N4}",
                                                    new {@class = "celda form-control"})
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                             <tr>
                                <td style="border-bottom: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                    <div class="inceldaindicadores">
                                        <table>
                                            <tr class="innerCelda">
                                                <td>BI<br />
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcActivacion.Bi,"{0:N4}",
                                                                    new { @class = "celda form-control" , ReadOnly="true"})
                                                </td>
                                                <td class="innerCelda">OP<br />
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcActivacion.Op,"{0:N4}",
                                                                    new { @class = "celda form-control" })
                                                </td>
                                                <td class="innerCelda" style="border-right:groove">CI<br />
                                                    @Html.TextBoxFor(m => Model[i].Indicadores.PorcActivacion.Ci,"{0:N4}",
                                                                    new { @class = "celda form-control" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>


                            <!-- END OF THE TABLE -->
                        </table>
                    </td>
                        }
            </tr>
                }

    </table>
</div>
<div class="col-md-12">
    <div class="col-md-2 col-md-offset-10">
          <button type="submit" formtarget="_self" class="btn btn-success btn-block" style="border-radius: 0px;">Guardar</button>
    </div>
</div>